body {
   text-align: center;
}

button {
    background-image: url(pictures/transparent_button_normal.png);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    text-emphasis-color: yellow;
    background-color:  orangered;
}


button:active {

    background-image: url(pictures/transparent_button_pressed.png);
}